<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<!-- 定義變數 -->
	<variable name="logDirectory" value="${basedir}/logs" />

	<!-- 目標（Targets）：定義日誌輸出方式 -->
	<targets>
		<!-- 依日期建立新的 log 檔案 -->
		<target xsi:type="File" name="logfile"
				fileName="${logDirectory}/logfile.log"
				layout="${longdate} [${level}] ${message} ${exception}"
				archiveFileName="${logDirectory}/archive/${shortdate}.log"
				archiveEvery="DAY"
				maxArchiveDays="30"
				maxArchiveFiles="30"
				encoding="utf-8" />

		<!-- 將日誌輸出到控制台 -->
		<target xsi:type="Console" name="console"
				layout="${longdate} [${level}] ${message}" />
	</targets>

	<!-- 日誌規則（Rules）：定義哪些日誌要輸出到哪裡 -->
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile,console" />
	</rules>
</nlog>